.App {
  margin: 10px 40px;
  .id-number-validation-area {
    text-align: center;
    h2 {
      margin-top: 50px;
    }
    .id-number-input {
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid #DDD;
      font-size: 20px;
      width: 300px;
      margin: 20px;
      font-family: monospace;
    }
    .success {
      background: rgba(0, 255, 0, 0.2);
    }
    .error {
      background: rgba(255, 0, 0, 0.1);
    }
    .validation-result {
      table {
        width: 300px;
        margin: 10px auto;
        border-collapse: collapse;
        td {
          border: 1px solid #ddd;
          margin: 0;
          padding: 5px;
        }
        tr:nth-child(odd) {
          background: #eee;
        }
      }
    }
  }


  .id-number-generation-area {
    text-align: center;
    h2 {
      margin-top: 50px;
    }
    ul.id-number-list {
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
      width: 300px;
      border: 1px solid #ddd;
      border-radius: 8px;
      li {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background: #eee;
        }
      }
    }
  }

  .tutorial-area {
    background: #EEE;
    padding: 10px 30px;
    margin: 30px 0;

    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }

    .code-area {
      background: #DDD;
      font-family: Consolas, monospace;
    }

    a {
      color: #888;
    }
  }


  .copyright {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: #888;
    a {
      color: #888;
    }
  }
}

.DocumentSelector {
  background: #EEE;
  padding: 20px;
  display: flex;

  .Select {
    flex-grow: 1;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
